<link rel="stylesheet" href="movie.css">
<table border="1">
    <tr>
        <td class ="id">!id!</td>
        <td class ="movie">!name!</td>
        <td class ="movie">!movie!</td>
        <td class ="time">!time!</td>
    <form action ="reservation_delete.php" method ="post">
        <td><input type ="submit" value = "削除"></td>
        <input type="hidden" name="id" value="!id!">
        <input type="hidden" name="mode" value="delete">
    </tr>