<h1>編集画面</h1>
<form method="post" action="admin_page2.php">
<table border="1">
    <tr>
        <td>id</td>
        <td><input name="id" type="text" value=""></td>
        <td>映画名</td>
        <td><input name="movie" type="text" value=""></td>
    </tr>
    <tr>
        <td>公開日</td>
        <td><input name="release_date" type="date" value=""></td>
        <td>公開終了日</td>
        <td><input name="end_date" type="date" value=""></td>
    </tr>
    <tr>
        <td>上映時間</td>
        <td><input name="time" type="datetime-local" value=""></td>
        <td>スクリーン</td>
        <td><input name="screen" type="text" value=""></td>
    </tr>
    <tr>
        <td>ジャンル</td>
        <td><input name="genru" type="" value=""></td>
        <td>値段</td>
        <td><input name="price" type="text" value=""></td>
        <td><input type ="submit" value = "編集"></td>
    </tr>
    </table>
    <input type="hidden" name="mode" value="edit">
    </form>