<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title> 映画</title>
<link rel="stylesheet" type="" href="style.css">
</head>
<body>
        <table>
            <tr>
                <a href="admin_first.html" id="add">管理者TOP</a>
            </tr>
        </table>
<h1>映画一覧</h1>
!movies!
</body>
</html>
