<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title> 映画</title>
<link rel="stylesheet" type="" href="movie.css">
</head>
<body>
        <table>
            <tr>
                <a href="admin_first.html" id="add">管理者TOP</a>
            </tr>
        </table>
        <table>
            </tr>
            <form id ="form1" action="admin_page2.php" method="post">
            <input id ="sbox1" type="text" name="search_movie" placeholder="映画を検索">
            <input id ="sbtn1" type="submit" value="検索">
            </form>
            </tr>
        </table>
<h1>映画一覧</h1>
<table border="1">
    <tr>
        <td class ="id2">id</td>
        <td class ="movie2">映画名</td>
        <td class ="release_date2">公開日</td>
        <td class ="end_date2">公開終了日</td>
        <td class ="time2">上映時間</td>
        <td class ="screen2">スクリーン</td>
        <td class ="genru2">ジャンル</td>
        <td class ="price2">値段</td>
    </tr>
!movies!
</body>
</html>
