<link rel="stylesheet" href="movie.css">
<table border="1">
    <tr>
        <td class ="id">!id!</td>
        <td class ="movie">!movie!</td>
        <td class ="release_date">!release_date!</td>
        <td class ="end_date">!end_date!</td>
        <td class ="time">!time!</td>
        <td class ="screen">!screen!</td>
        <td class ="genru">!genru!</td>
        <td class ="price">!price!</td>
        
        <td>
            <form action = "edit.php" method ="post">
                <input type ="submit" value = "編集" class = "edit">
                <input type="hidden" name="id" value="!id!">
                <input type="hidden" name="movie" value="!movie!">
                <input type="hidden" name="release_date" value="!release_date!">
                <input type="hidden" name="end_date" value="!end_date!">
                <input type="hidden" name="time" value="!time!">
                <input type="hidden" name="screen" value="!screen!">
                <input type="hidden" name="genru" value="!genru!">
                <input type="hidden" name="price" value="!price!">
                <input type="hidden" name="mode" value="edit">
            </form>
        </td>
        <td>
            <form action ="delete.php" method ="post">
                <input type ="submit" value = "削除" class ="delete">
                <input type="hidden" name="id" value="!id!">
                <input type="hidden" name="movie" value="!movie!">
                <input type="hidden" name="release_date" value="!release_date!">
                <input type="hidden" name="end_date" value="!end_date!">
                <input type="hidden" name="time" value="!time!">
                <input type="hidden" name="screen" value="!screen!">
                <input type="hidden" name="genru" value="!genru!">
                <input type="hidden" name="price" value="!price!">
                <input type="hidden" name="mode" value="delete">
            </form>
        </td>
    </tr>
    <input type="hidden" name="id" value="!id!">
    <input type="hidden" name="movie" value="!movie!">
    <input type="hidden" name="release_date" value="!release_date!">
    <input type="hidden" name="end_date" value="!end_date!">
    <input type="hidden" name="time" value="!time!">
    <input type="hidden" name="screen" value="!screen!">
    <input type="hidden" name="genru" value="!genru!">
    <input type="hidden" name="price" value="!price!">
</table>
</form>